body {
  margin: 0;
  padding: 20px;
  background-color: #0a0f16;
  color: #cfcfcf !important;
}

.intro-container {
  background-color: #131b26;
  padding: 40px;
  border-radius: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section {
  text-align: center;
  margin-bottom: 60px;
}

.main-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #166cb6, #4898df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text {
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8;
}

.section-title {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.second-section-title {
  font-size: 2.5rem;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/* Карточки с якорными ссылками */
.guide-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  .guide-card {
    display: flex;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 15px;
    gap: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    .guide-number {
      font-size: 2rem;
      font-weight: bold;
      color: #166cb6;
    }
    .guide-content {
      min-height: 92px;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
    .guide-content p {
      font-size: 0.95rem;
    }
    .guide-content h3 {
      background: linear-gradient(45deg, #166cb6, #4898df);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.2rem;
    }
  }
}

.guide-card:hover {
  transform: translateY(-5px);
  background: rgba(72, 152, 223, 0.1);
}

.content-section {
  margin-top: 80px;
}

.info-block {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.warning {
  border-left: 4px solid hsl(39, 100%, 50%);
}
.highlightdanger {
  background-color: hsla(39, 100%, 50%, 0.05);
  padding: 15px;
  border-radius: 5px;
  border-left: 4px solid hsl(39, 100%, 50%);
}
.info-title {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #ffa500;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.8;
}

.text-link {
  color: #166cb6;
  text-decoration: none;
}

.text-link:hover {
  color: #6eb3f0;
  text-decoration: underline;
}

.community-info {
  margin: 20px 0;
}

.list-descr {
  font-size: 1.1rem;
}

.rules-list {
  .point {
    color: #166cb6;
  }
}

.highlight {
  background-color: rgba(72, 152, 223, 0.1);
  padding: 15px;
  border-radius: 5px;
  border-left: 4px solid #166cb6;
}

.roadmap-description {
  margin: 0 auto 40px auto;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .intro-text {
    font-size: 0.9rem;
  }

  .features-container,
  .guide-cards {
    grid-template-columns: 1fr;
  }

  .guide-card {
    flex-direction: row;
    align-items: center;
  }

  .guide-number {
    font-size: 1.2rem;
  }

  .guide-content h3 {
    font-size: 1rem;
  }

  .guide-content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .intro-container {
    padding: 15px;
  }

  .main-title {
    font-size: 1.8rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .intro-text {
    font-size: 0.8rem;
  }
}
