---

---
<div class="content">
  <div id="dexscreener-embed">
    <iframe src="https://dexscreener.com/ton/EQBptsGh6xzEVHZYkXrr3gVMeLlzrh9xpH64OzYlZO3s4KnT?embed=1&loadChartSettings=0&trades=0&tabs=0&chartLeftToolbar=0&chartDefaultOnMobile=1&chartTheme=dark&theme=dark&chartStyle=0&chartType=usd&interval=15">
    </iframe>
</div>
</div>

<style>

  .content{
    display: flex;
    justify-content: center;
  }
  #dexscreener-embed iframe {
    display: flex;
    width: 75vw;
    height: 75vh;
  }

  #dexscreener-embed {
    position: relative;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  @media (min-width: 768px) {
    #dexscreener-embed{
      width: 100%;
    }
  }

  @media (min-width: 1400px) {
    #dexscreener-embed {
      
    }
  }

</style>
