---
import { Image } from "astro:assets";
import pieChart from '../assets/icons/pieChart.svg';
import circle_3 from '../assets/icons/circle_3.svg';
const tokenomics = [
{ name: 'Founder:', value: '7.8%' },
{ name: 'Free Float:', value: '50.0%' },
{ name: 'Liquidity:', value: '12.2%' },
{ name: 'Pre-sale:', value: '10.0%' },
{ name: 'Staking:', value: '10.0%' },
{ name: 'Developers:', value: '5.0%' },
{ name: 'Marketing:', value: '5.0%' }
];
---

<div class="wrapper">
    <div class="pie_diagram">
        <Image src={pieChart} alt="" class="pie-img"/>
    </div>
    <div class="token-list">
        {tokenomics.map(token => (
            <div class="token-item">
                <div class="token-info">
                    <Image src={circle_3} alt="" class="img"/>
                    <span class="token-name">{token.name} </span>
                    <span class="token-value">{token.value}</span>
                </div>
            </div>
        ))}
    </div>
</div>

<style>
    .wrapper {
        display: flex;
        align-items: center;
        gap: 20rem;
        padding: 1.5rem;
    }

    .pie_diagram {
        flex: 0 0 auto;
        width: 700px;
        height: 650px;
    }

    .pie-img {
        
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .token-list {
        flex: 0 0 auto;
        padding: 5rem;
    }

    .token-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
    }

    .token-item:last-child {
        margin-bottom: 0;
    }

    .token-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        opacity: 0.9;
        gap: 0.5rem;
    }

    .img {
        width: 24px;
        height: auto;
    }

    .token-name, 
    .token-value {
        font-size: 1.5rem;
    }

    @media (max-width: 1399px) {
        .wrapper {
            padding: 0;
            gap: 0;
        }
    }
    @media (max-width: 1060px) {
        .token-name, 
    .token-value {
        font-size: 1.2rem;
    }
        
        .wrapper {
            flex-direction: column;
            padding: 0;
            gap: 0;
        }

        .pie_diagram {
            width: 370px;
            height: 370px;
        }
        .pie-img {
            margin-top: 1.5rem;
        }
    }
</style>