---
import circleFavicon from "../assets/icons/circle_2.svg";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/circle_2.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>TONY COIN</title>
	</head>
	<body>
		<div id="main">
			<article class={"content"}>
				<slot />
			</article>
		</div>
	</body>
</html>

<style>
	html,

	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #111725;
		color: rgb(128, 132, 143);
		font-size: 18px;
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		}
	}
	#main {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}
	.content {
		margin-top: var(--header);
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		&.offset {
			padding: 0 12px;
		}
		@media (max-width: 768px) {
			margin-top: 70px;
		}
	}

	
	
</style>
